FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */
background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*»ðºü*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*¹È¸è*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #fff, #0000ff);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #fff, #0000ff);  /*Opera 11.10+*/